body{
    
}

#navbar{
    border: 2px solid black;
    display: contents;
    color: cyan;
    background-color: navy;
    text-align: left;
    padding: 50px;
}

.div1{
    border: 2px solid blue;
    display: block;
    color: navy;
    background-color: aqua;
    text-align: center;
    margin-left: 50px;
}

.div2{
    border: 2px solid blue;
    display: grid;
    color: aqua;
    background-color: navy;
    text-align: center;
    padding: 100px;
    margin-left: 50px;
}

#div3{
    border: 2px solid blue;
    display: block;
    color: navy;
    background-color: aqua;
    text-align: center;
    margin-left: 50px;
}